:root {
  --white: #F2EEEA;
  --black: #1f1f1f;

  --font-size: 16px;
  --font-height: 1.4;
  --font-color: #F2EEEA;
  --font-eng: "Rubik";
  --font-kor1: "NanumSquareNeo-Variable";
  --font-kor2: "SebangGothic";

  --pc-r: #F44545;
  --pc-o: #FF5C00;
  --pc-y: #FFB800;
  --pc-g: #79D869;
  --pc-b: #1859FF;
  --pc-p: #8F20E7;
}