.effect__title__section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 12vw;
}
.effect__title {
    font-family: var(--font-eng);
    font-weight: 700;
    font-size: 10vw;
    text-transform: uppercase;
    white-space: nowrap;
    /* margin-top: 22vw; */
}
#effect .figure__inner {
    position: relative;
    position: absolute;
    top: calc(50vh - 25vw);
}

/* figure */
#effect .figure {
    width: 11vw;
    height: 10vw;
    background-color: var(--pc-y);
}
#effect .figure1 {
    transform: skewY(-25deg);
    position: absolute;
    top: 14vw;
    left: -2.2vw;
    z-index: -1;
}
#effect .figure2 {
    transform: skewY(25deg);
    position: absolute;
    top: 14vw;
    left: 9.8vw;
}
#effect .figure3 {
    transform: skewY(-25deg);
    position: absolute;
    top: 14vw;
    left: 21.8vw;
    z-index: -1;
}
#effect .figure4 {
    transform: skewY(-25deg);
    position: absolute;
    top: 8.5vw;
    left: 33.8vw;
}
#effect .figure5 {
    transform: skewY(-25deg);
    position: absolute;
    top: 31.2vw;
    left: 55.6vw;
}
#effect .figure6 {
    transform: skewY(25deg);
    position: absolute;
    top: 31.2vw;
    left: 67.6vw;
}
#effect .figure7 {
    transform: skewY(-25deg);
    position: absolute;
    top: 31.2vw;
    left: 79.6vw;
    z-index: -1;
}
#effect .figure8 {
    transform: skewY(25deg);
    position: absolute;
    top: 31.2vw;
    left: 91.6vw;
}

/* effect */
#quiz__effect { top: 0.4vw; background: #242424;}
#mouse__effect {top: 0.8vw; background: #2e2e2e;}
#slider__effect {top: 1.2vw; background: #3d3d3d;}
#parallax__effect {top: 1.6vw; background: #494949;}
#game__effect {top: 2vw; background-image: linear-gradient(#494949, #1f1f1f);}

/* effect */
.effect__section {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--black);
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.effect__section .left {
    width: 30%;
    position: relative;
}
.effect__desc {
    width: 100%;
    font-size: 1.2vw;
    font-weight: 300;
    line-height: 1.4;
    text-align: justify;
    margin-bottom: 15vw;
}
.effect__tit {
    font-family: var(--font-eng);
    font-size: 4vw;
    font-weight: 400;
    mix-blend-mode: difference;
    position: relative;
    z-index: 1;
}
.effect__tit em {
    text-transform: uppercase;
    font-size: 6.5vw;
}

.effect__decos {
    font-family: var(--font-eng);
    font-size: 1.5vw;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: -10%;
    left: 90vw;
}

/* .effect__deco */
.effect__deco01:hover,
.effect__deco02:hover {
    transform: rotateZ(0deg);
}
/* .effect__deco01 */
.effect__deco01 {
    width: 8vw;
    transform: rotateZ(-13deg);
    position: absolute;
    right: 25vw;
    transition: transform .5s;
}
.effect__deco01 svg {
    width: 8vw;
    height: 3.5vw;
    position: absolute;
    z-index: -1;
}
.effect__deco01__txt {
    text-align: center;
    line-height: 3.5vw;
}

/* .effect__deco02 */
.effect__deco02 {
    width: 12vw;
    transform: rotateZ(-25deg);
    position: absolute;
    top: 3vw;
    right: 14vw;
    z-index: 1;
    transition: transform .5s;
}
.effect__deco02 svg {
    width: 12vw;
    height: 3.5vw;
    position: absolute;
    z-index: -1;
}
.effect__deco02__txt {
    text-align: center;
    line-height: 3.5vw;
}

/* effect img wrap */
.effect__img__wrap {
    width: 60%;
    border: 3px solid var(--white);
}
.effect__img__tit {
    background: var(--white);
    color: var(--black);
    font-family: var(--font-eng);
    font-size: 1.4vw;
    font-weight: 700;
    padding: 1vw 1.5vw;
    text-transform: uppercase;
}
.effect__img__tit::after {
    float: right;
    font-size: 1.2vw;
    margin-top: 0.3vw;
}
.effect__img__wrap a {
    position: relative;
}
.effect__img__wrap a .effect__btn {
    opacity: 0;
    pointer-events: none;
    color: var(--white);
    width: 5vw;
    height: 5vw;
    font-family: var(--font-eng);
    font-weight: 500;
    font-size: 1.2vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 5vw;
    border-radius: 50%;
    border: 2px dashed var(--white);
    position: absolute;
    top: 21vw;
    right: 3vw;
    transition: opacity 0.3s, transform 100s ease;
    transform: rotateZ(0);
    mix-blend-mode: difference;
}
.effect__img__wrap:hover a .effect__btn {
    opacity: 1;
    transform: rotateZ(3600deg);
}

@media (max-width: 1200px){
    .effect__title__section {
        overflow: visible;
    }
    .effect__section {
        flex-wrap: wrap;
        align-content: center;
    }
    .effect__section .left {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .effect__title {
        font-size: 20vw;
    }
    #effect .figure__inner {
        transform: scale(2);
    }
    #effect .figure1 {
        top: -14vw;
        left: -2.2vw;
    }
    #effect .figure2 {
        top: -14vw;
        left: 9.8vw;
    }
    #effect .figure3 {
        top: -14vw;
        left: 21.8vw;
    }
    #effect .figure4 {
        top: -19.5vw;
        left: 33.8vw;
    }
    #effect .figure5 {
        top: 31.2vw;
        left: 5.6vw;
    }
    #effect .figure6 {
        top: 31.2vw;
        left: 17.6vw;
    }
    #effect .figure7 {
        top: 31.2vw;
        left: 29.6vw;
    }
    #effect .figure8 {
        top: 31.2vw;
        left: 41.6vw;
    }
    .effect__decos {
        display: none;
    }
    .effect__desc {
        width: 100%;
        font-size: 3vw;
        padding-top: 5vw;
        margin-bottom: 5vw;
    }
    .effect__img__wrap {
        position: static !important;
        width: 100%;
    }
    .effect__tit {
        font-family: var(--font-eng);
        font-size: 4vw;
        position: static;
        margin-top: 5vw;
        mix-blend-mode: normal;
    }
    .effect__img__wrap a .effect__btn {
        opacity: 1;
        transform: rotateZ(3600deg);
        width: 15vw;
        height: 15vw;
        line-height: 15vw;
        font-size: 4vw;
        top: 28vw;
        mix-blend-mode: hard-light;
    }
    .effect__img__tit {
        font-size: 3vw;
        padding: 1vw 1.5vw;
    }
    .effect__img__tit::after {
        font-size: 2.4vw;
        margin-top: 0.3vw;
    }
}
