@media(max-width: 1200px){
    .react__section__inner,
    .vue__section__inner,
    .php__section__inner {
        display: contents;
        width: 100vw;
        height: auto;
    }
    .react__section,
    .vue__section,
    .php__section {
        height: auto;
    }
    .site {
        margin-bottom: 20vw;
        /* overflow-x: hidden; */
    }
    .site .move__text__inner {
        display: none;
    }
    .vertical__tit {
        opacity: 1;
        text-align: center;
        font-family: var(--font-eng);
        font-weight: 700;
        font-size: 10vw;
        height: 50vw;
        line-height: 50vw;
    }

    /* figure */
    .site .figure {
        width: 50vw;
        height: 50vw;
        background: var(--pc-y);
        margin-top: 5vw;
        border-radius: 50%;
        margin-left: 10vw;
        position: relative;
        position: static;
    }
    .site .figure.right {
        margin-left: 30vw;
    }
    .site .figure.empty {
        display: none;
    }
    .site .figure a {
        display: inline-block;
        width: 22vw;
        height: 8vw;
        background: inherit;
        color: transparent;
        font-size: 2vw;
        text-align: center;
        line-height: 8vw;
        position: absolute;
    }

    .site .figure.left a.page__btn {transform: translate(-80%, -100%);}
    .site .figure.left a.source__btn {transform: translate(-80%, 50%);}
    .site .figure.right a.page__btn {transform: translate(80%, -100%);}
    .site .figure.right a.source__btn {transform: translate(80%, 50%);}

    .site .figure.right a {
        border-top-right-radius:0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 5vw;
        border-bottom-left-radius: 5vw;
        text-align-last: left;
        padding-left: 3vw;
        top: 50%;
        left: 0;
        transform: translate(0, 0) scaleX(0);
    }
    .site .figure.left a {
        border-top-left-radius:0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5vw;
        border-bottom-right-radius: 5vw;
        padding-right: 3vw;
        text-align: right;
        top: 50%;
        left: auto;
        right: 0;
        transform: translate(0, 0) scaleX(0);
    }
    .site .figure a.page__btn {transition: all 0.3s cubic-bezier(0.42, 0.05, 0, 0.93);}
    .site .figure a.source__btn {transition: all 0.5s cubic-bezier(0.42, 0.05, 0, 0.93);}
    .site .figure:hover a {color: var(--white); transform: scaleX(1);}
    .site .figure a:hover {text-decoration: underline; text-underline-offset: 0.7vw;}
    .site .figure.right:hover a.page__btn {transform: translate(-89%, -85%);}
    .site .figure.right:hover a.source__btn {transform: translate(-89%, 25%);}
    .site .figure.left:hover a.page__btn {transform: translate(89%, -85%);}
    .site .figure.left:hover a.source__btn {transform: translate(89%, 25%);}
    
    /* figureImg */
    .site .figureImg {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: scale(0);
        transition: all 0.3s;
        z-index: 1;
    }
    .site .figure:hover .figureImg {
        transform: scale(0.9);
    }

    /* site__img__inner */
    .site__img__inner {
        display: none;
        /* position: relative;
        margin-top: 20vw; */
    }
    /* .site__img__inner > div:hover {
        opacity: 1;
    }
    .site__img__inner > div {
        opacity: 0;
        position: absolute;
        width: 47vw;
        height: 27vw;
        top: 50%;
        left: 50%;
        transform: translate(-47%, -76%);
        background: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        padding: 5vw;
        box-sizing: border-box;
        transition: all 0.3s;
    }
    .site__img__inner > div > p {
        font-size: 2.4vw;
        margin-bottom: 5vw;
        word-break: keep-all;
    }
    .site__img__inner > div a {
        font-size: 1.6vw;
        text-align: right;
        display: block;
        margin-bottom: 1.5vw;
    }
    .site__img__inner > div a:hover {
        text-decoration: underline;
        text-underline-offset: 0.6vw;
    } */
}

@media(max-width: 700px){
    .site .figure .figureImg {
        transform: scale(0.9);
    }
    .site .figure a {
        color: var(--white);
        font-size: 3vw;
        transform: scaleX(1);
    }
    .site .figure.right a.page__btn {transform: translate(-89%, -85%);}
    .site .figure.right a.source__btn {transform: translate(-89%, 25%);}
    .site .figure.left a.page__btn {transform: translate(89%, -85%);}
    .site .figure.left a.source__btn {transform: translate(89%, 25%);}
}